.formulario{
	display: flex;
	flex-direction: column;	
	align-items: center;
	margin-top: 2rem;
}

.formulario fieldset{
	margin-bottom: 1rem;
}

.formulario__legenda{
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 900;
}

/*imput padrão*/
.formulario__container{
	margin-bottom: 1rem;
	position: relative;
}

.formulario__paragrafo_radio{
	font-size: 20px;
	margin-bottom: 1rem;
}

.formulario__input{
	border: none;
	border-bottom: 1px solid gray;
	padding: 1.5rem 0.5rem 0.5rem;	
	font-size: 1rem;
	width: 100%;
	height: 1.8rem;
}

/*.formulario__input[type=number]::-webkit-inner-spin-button,
.formulario__input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

.formulario__input:focus{
	outline: none;
}

.formulario__input::placeholder{
	visibility: hidden;
}

.formulario__label{
	position: absolute;
	top:1.375rem;
	left: 0.2rem;
	font-size: 20px;
	transition: all .25s;
}

.formulario__input:not(:placeholder-shown) + .formulario__label,
.formulario__input:focus + .formulario__label{
	font-size: 0.875rem;
	top:0.25rem;
}

.formulario__mensagem_erro{
	display: none;
}

/*comportamento imput com erro*/
.formulario__container--erro .formulario__input{
	border: 1px solid var(--cor-aviso-erro);
    border-radius: 7px;
}

.formulario__container--erro .formulario__label{
	color: var(--cor-aviso-erro);
}

.formulario__container--erro .formulario__mensagem_erro{
	display: block;
	margin-top: 0.3rem;
	padding-left: 0.2rem;
	color: var(--cor-aviso-erro);
}

.formulario__container.--oculto{
	display: none;
}

/*botão*/
.formulario__botao {
	align-items: center;
	background-clip: padding-box;
	background-color: var(--cor-dourado);
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 2rem;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(1.0rem - 1px) calc(1.9rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.formulario__botao:hover,
.formulario__botao:focus {
  background-color: var(--cor-dourado-escuro);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.formulario__botao:hover {
  transform: translateY(-1px);
}

.formulario__botao:active {
  background-color: var(--cor-azul-bebe);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*Medias*/
@media(min-width: 300px){
	.formulario fieldset{
		width: 85%;
	}

	.formulario__botao{
		font-size: 1.5rem;
		padding: calc(.9rem - 1px) calc(1.5rem - 1px);
	}
}

@media(min-width: 800px){
	.formulario fieldset{
		width: 60%;
	}

	.formulario__botao{
		font-size: 2rem;
		padding: calc(1.0rem - 1px) calc(1.9rem - 1px);
	}
}